<main>
  <section id="section-login">
    <h2 style="color: white">Login</h2>
    <form class="row g-3">
      <label for="usuario" class="visually-hidden">Usuário</label>
      <input
        type="text"
        class="form-control"
        id="usuario"
        placeholder="Usuário"
      />

      <label for="senha" class="visually-hidden">Senha</label>
      <input
        type="password"
        class="form-control"
        id="senha"
        placeholder="Senha"
      />

      <button type="submit" class="btn btn-primary mb-3">Entrar</button>
    </form>
  </section>
</main>
