main{
  min-height: 500px;
}

#section-banner img{
  height: 400px;
}

.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: auto;
}

mat-grid-list{
  margin: 5px 20px;

}
mat-grid-tile{
  border-radius: 20px;
}

mat-card-header{
  display:flex;
  justify-content: space-around;

}

mat-card-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

mat-card-actions button{
  border: 1px solid black;
  background-color: red;
  color: white;
}
mat-card-actions p{
  margin-top: 10px ;
}
