main{
  min-height: 500px;
}

#section-banner img{
  height: 400px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: auto;
}

mat-grid-list{
  margin: 30px;
  padding: 10px 5px;
}

